<div id="contentDiv"><mat-card align="center">
    <mat-card-title>{{ 'new_pwd.title' | translate }}</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="sendNewPassword()">
          <mat-form-field>
            <mat-label>Password: *</mat-label>
            <input (change)="onPasswordChange(form, $event,  'pwd')"   matInput [type]='showPwd ? "text" : "password"' placeholder="{{'user_common.placeholder.password' | translate }}"  formControlName="pwd" >
            <mat-icon matSuffix (click)="showPwd=!showPwd">{{showPwd ? 'visibility_off' : 'visibility'}}</mat-icon>            
           <mat-error  *ngIf="checkValidator.checkValidation('pwd', form)">
            {{checkValidator.pwdErrors("pwd", form)}}
           </mat-error> 
           </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>{{ 'signup.repeat_pw_field' | translate }}: *</mat-label>
            <input (change)="onPasswordChange(form, $event,  'pwdConf')"  matInput [type]='showPwdConf ? "text" : "password"' placeholder="{{'signup.placeholder.repeat_password' | translate }}"  formControlName="pwdConf" >
            <mat-icon matSuffix (click)="showPwdConf=!showPwdConf">{{showPwdConf ? 'visibility_off' : 'visibility'}}</mat-icon>      
          <mat-error *ngIf="checkValidator.checkValidation('pwdConf', form)">
            {{checkValidator.pwdErrors("pwdConf", form)}}
          </mat-error>        
          </mat-form-field>
          <br>
          <button type="submit"  [disabled]="!form.valid" mat-button >{{ 'new_pwd.button' | translate }}</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
