<div id="contentDiv"><mat-card align="center">
    <mat-card-title>{{ 'admin.add_admin.title' | translate }}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="addAdmin()">
        <mat-form-field>
          <mat-label>{{ 'user_common.name_field' | translate }}: *</mat-label>
          <input matInput type="text" placeholder="{{'signup.placeholder.name' | translate }}" formControlName="name">
          <mat-error *ngIf="checkValidator.checkValidation('name', form)">
            {{ 'signup.required_field_alert' | translate }}
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>{{ 'user_common.surname_field' | translate }}: *</mat-label>
          <input matInput type="text" placeholder="{{'signup.placeholder.surname' | translate }}"
            formControlName="surname">
          <mat-error *ngIf="checkValidator.checkValidation('surname', form)">
            {{ 'signup.required_field_alert' | translate }}
          </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
          <mat-label>Email: *</mat-label>
          <input matInput type="email" placeholder="{{'user_common.placeholder.email' | translate }}"
            formControlName="email">
          <mat-error *ngIf="checkValidator.checkValidation('email', form)">
            {{ checkValidator.emailErrors(form) }}
          </mat-error>
        </mat-form-field>
        <br>
        <br>
        <button type="submit" [disabled]="!form.valid" mat-button>{{ 'admin.add_admin.button' | translate }}</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>