<mat-dialog-content>
    <div class="div-title">
      <span mat-dialog-title>{{'login.recover_pwd_title'|translate}}</span>
      <div id="div-exit-button">
        <button mat-icon-button matTooltip="{{'admin.tooltip.close' | translate}}" (click)="close()">
        <mat-icon iconPositionEnd>close</mat-icon>
      </button></div>
    </div>
    <form [formGroup]="form" (ngSubmit)="sendEmail()">
        <mat-form-field appearance="fill">
            <mat-label>Email:</mat-label>
            <input matInput type="email" placeholder="{{'user_common.placeholder.email' | translate }}"  name="username" formControlName="email">
            <mat-error *ngIf="checkValidator.checkValidation('email', form)">
                {{checkValidator.emailErrors(form)}}
            </mat-error>
          </mat-form-field>
        
          <div  align="center">
            <button  type="submit" [disabled]="!form.valid" mat-button>{{'login.send_email_button'|translate}}</button>
          
          </div>
    </form>
   
</mat-dialog-content>

