.div-title{
    display: flex;
}
span{
    display: inline-block;
    width: 100%;
    text-align: center;
}
#div-exit-button{
    display: inline-block;
    max-width: min-content;
}
mat-form-field, div{
    width: 100%;
}

@media screen and (min-width:450px){
    mat-dialog-content{
        width: 400px;
    }
   
}

